
export(calc_OSLintervals)
export(decompose_OSLcurve)
export(fit_OSLcurve)
export(plot_OSLcurve)
export(plot_PhotoCrosssections)
export(simulate_OSLcurve)
export(sum_OSLcurves)
export(RLum.OSL_correction)
export(RLum.OSL_decomposition)
export(RLum.OSL_global_fitting)

